<!DOCTYPE html>
<html>
  <head>
    <title>Coin Toss</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" inital-scale="1">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="_css/normalize.css">
    <link rel="stylesheet" href="_css/style.css">
  </head>
  <body>
    <div class="background"></div>
    <div id="app">

      <div class="center" v-if=newgame>
        <img class="logo" src="_img/logo.png" alt="Logo used to be here!">
        <img class="button" src="_img/buttons/upgrades.png" @click="game = !game; upgrades = !upgrades">
        <br>
        <img class="button" src="_img/buttons/new-game.png" @click="game = !game; newgame = !newgame; tails = 0; heads = 0; score = 0;  flip = ''">
      </div>


      <div class="gamegrid" v-if="game">
        <div class="heads">
          <p>
            HEADS
            <br>
            {{ heads }}
          </p>
          <p> <span class="coin-icon"></span>  {{ headsmoney }}</p>
        </div>
        <div class="tails">
          <p>
            TAILS
            <br>
            {{ tails }}
            <br>
            {{ tailsmoney }} <span class="coin-icon"></span>
          </p>
        </div>

        <div class="mid">
          <img class="button end" src="_img/buttons/end-game.png" @click="Score(); endgame = !endgame; game = !game">
          <img class="coin" :src=coinLink :class="flip"/>
          <img class="button flip" src="_img/buttons/toss-a-coin.png" @click="CoinToss()" @mouseup="flip = 'flipping'" @mousedown="flip = ''">
        </div>
      </div>

      <div class="center" v-if="endgame">
        <img class="coin" :src=resultLink />
        <br>
        <p class="result">
          Heads - {{ heads }} : {{ tails }} - Tails
          <br>
          Score : {{ score }}
          <br>
          Lifetime results:
          <br>
          {{ headstotal }} - {{ tailstotal }}
          <br>
          <br>
          LOOT : {{ loot }}
        </p>
        <img class="button" src="_img/buttons/retry.png" @click="game = !game; endgame = !endgame; tails = 0; heads = 0; score = 0;  flip = ''">
        <br>
        <img class="button" src="_img/buttons/collect.png" @click="newgame = !newgame; endgame = !endgame; Save();">
      </div>

    </div>

    <script>
    new Vue({
      el: '#app',
      data: {
        newgame: true,
        game: false,
        endgame: false,
        flip: '',
        coinLink: '_img/h.png',
        resultLink: '_img/h.png',
        heads: 0,
        headstotal: 0,
        headsmoney: 0,
        tails: 0,
        tailstotal: 0,
        tailsmoney: 0,
        score: 0,
        loot: 0,
      },

      methods: {
        CoinToss : function(){
          this.result =  Math.floor(Math.random() * 2 + 1 )
          if (this.result > 1) {
            this.heads++
            this.coinLink = '_img/h.png'
          }
          else {
            this.tails++
            this.coinLink = '_img/t.png'
          }
        },
        Score : function() {
          if (this.heads > this.tails) {
            this.winner = 'HEADS WINS'
            this.score = this.heads * 10 + this.tails
            this.loot = this.score / 2
            this.resultLink = '_img/heads-wins.png'
          }
          else if (this.heads == this.tails) {
            this.winner = 'DRAW',
            this.score = this.heads + this.tails *5
            this.loot = this.score / 2
            this.resultLink = '_img/draw.png'
          }
          else {
            this.winner = 'TAILS WINS'
            this.score = this.tails * 10 + this.heads
            this.loot = this.score / 2
            this.resultLink = '_img/tails-wins.png'
          }
        },
        Save : function() {

          this.headstotal = this.headstotal + this.heads
          this.tailstotal = this.tailstotal + this.tails

          if (this.heads > this.tails) {
            this.headsmoney = this.headsmoney + this.score / 2
          }
          else if (this.heads == this.tails) {
            this.headsmoney = this.headsmoney + this.score / 2,
            this.tailsmoney = this.tailsmoney + this.score / 2
          }
          else if(this.tails > this.heads) {
            this.tailsmoney = this.tailsmoney + this.score / 2
          }
        }
      }
    })
    </script>

  </body>
</html>
