* {
  text-align: center;
}
body {
  background: url("../_img/8bitbg.gif");
}

#app {
  height: 100vh;
}
button {
  height: 50px;
  width: 100px;
}
.grid {
  display: grid;
  grid-template-columns: 25vw 50vw 25vw;
  grid-template-rows: 15vh 55vh 30vh;
  grid-template-areas: ". top ." ". mid ." ". bot .";
}
.top {
  grid-area: top;
  display: flex;
  justify-content: space-between;
  border-top: 2vw solid black;
  border-left: 2vw solid black;
  border-right: 2vw solid black;
}
.top img {
  height: 30px;
}

.mid {
  grid-area: mid;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-left: 2vw solid black;
  border-right: 2vw solid black;
}
.mid > img {
  height: 30vh;
}

.bot {
  grid-area: bot;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 2vw solid black;
  border-right: 2vw solid black;
  border-bottom: 2vw solid black;
}
.coin-icon {
  background: url("../_img/coin-icon.png") center center cover;
  height: 20px;
}
.flipping {
  animation-name: flip;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
}
@keyframes flip {
  0%,
  100% {
    transform: scale(1) rotateY(0deg)
  }
  50% {
    transform: scale(2.5) rotateY(4320deg);
  }
}
